# Ignore node_modules folder
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# OS and IDE specific
.DS_Store
.idea/
.vscode/

# Environment files
.env

